<!DOCTYPE html>
<html lang="en">
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    var sid;
    var name;
    var lang;
    var searching = false;
    var timer = -1;



    socket.on('SID', function(a) {
        sid = a;
    });

    socket.on('user created', function(usid, uname, ulang) {
        name = uname;
        lang = ulang;

        $("#myBubble").animate({left:"15%"},1000);
        $("#myBubbleTitle").fadeOut(500);
        setTimeout(function(){
          $("#myBubbleTitle").text(uname);
          $("#myBubbleTitle").fadeIn(500);
        }, 500);

    });
    socket.on('loop search', function() {
        searching = true;
    });
    socket.on('found', function(name, langu) {
        timer = 300;
        searching = false;
        $("#chat").fadeIn(500);
        $("#awaiting").text("Say hi! You are connected to: " + name);
        $("#row").append('<div id="otBubble" style="position: absolute;right:3%;top:7%;text-align: center;color: white;"> </div>');
        var otb = $("#otBubble")
        otb.hide();
        otb.fadeIn(500);
        otb.append('<img src="/static/circle3.png">');
        otb.append('<h1 id="otBubbleTitle" style="color:black; font-size: 40px;position:absolute; top:30%; left:50%;transform: translate(-50%, -50%);">'+name+ '</h1>');
        otb.append($('<li>').text(langu));
        socket.emit("topic request", sid);
    });
    socket.on('receive topic', function(topic) {
        $("#topic").text(topic);
    });
    socket.on('chat message', function(name, msg) {
        $("#messages").append($('<li>').text(name + ": " + msg));
    });
    $(document).ready(function(){
    $("#chat").hide();
    // Get value on button click and show alert
        $("#myBtn").click(function(){
            var name = $("#name").val();
            var lang = $("#lang").val();
            socket.emit('new user', sid, name, lang);
            $("#awaiting").text("Currently looking far and wide to find a partner for you!");
            $("#myBtn").remove();
        });
        $('#newtopic').click(function(){
            socket.emit("topic request", sid);
        });
        $('#transcend').click(function(){
            socket.emit("transcend", sid, $('#m').val());
            $('#m').val('');
        });
    });

    setInterval(function(){
      if (searching) { socket.emit('search', sid); }
    }, 5000)


    setInterval(function(){
       if (timer > 0) {
           timer = timer - 1;
           $("#timer").text(timer);
       }
       if (timer == 0) {
           socket.emit("timeout", sid);
           $("#myBubble").animate({left:"50%"});
           $("#otBubble").remove();
       }
    }, 1000)



    $(function () {
    $('#form2').submit(function(e) {
      e.preventDefault(); // prevents page reloading
      socket.emit('chat message', sid, $('#m').val());
      $('#m').val('');
      return false;
    });
  });
</script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="lingua_style.css">
</head>

<style>
  * { margin: 0; padding: 0; box-sizing: border-box; }
  body { font: 13px Helvetica, Arial; }
  #form2 { background: #000; padding: 3px; position: fixed; bottom: 13%; width: 30%; }
  #m { border: 0; padding: 10px; width:89%; margin-right: 0.5%; }
  #b { width: 10%; background: rgb(130, 224, 255); border: none; padding: 10px; text-align:left; }
  #messages { list-style-type: none; margin: 0; padding: 0; }
  #messages li { padding: 5px 10px; }
  #messages li:nth-child(odd) { background: #eee; }
  #myBtn:hover {background-color: mediumseagreen;}

</style>
<!--<body style="background-color:#99FDD6;">-->
<body>

    <div>&nbsp;</div>
    <h1 id="awaiting" style="text-align:center;">&nbsp;</h1>
    <div>&nbsp;</div>
    <h2 id="topic" style="z-index:200;text-align:center">&nbsp;</h2>
    <div>&nbsp;</div>
    <h3 id="timer" style="text-align:center">&nbsp;</h3>
    <div id="row">
    <div id="myBubble" style="position:absolute; text-align:center; top:7%; left:50%; transform: translateX(-50%); color: white;">
<!--        /Users/henryliu/PycharmProjects/Lingua/templates/static/circle1.png-->
        <img src="/static/circle3.png">
        <h1 id="myBubbleTitle" style="color:black; font-size: 40px;position:absolute; top:30%; left:50%;transform: translate(-50%, -50%);">
                <img src="static/lingua_logo.png">
        </h1>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">

            <form>
                <input id="name" style="padding: 10px;border-width: 0.5px;border-radius: 8px;"  name="name" placeholder="Name" type="text">
                <div>&nbsp;</div>
                <select style="padding: 10px 20px;border-radius: 8px;"id='lang' name="Language">
                    <option disabled selected value="">Language</option>
                    <option value="English">English</option>
                    <option value="French">French</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Chinese (Simplified)">Chinese Simplified</option>
                    <option value="Chinese (Traditional)">Chinese Traditional</option>
                    <option value="Vietnamese">Vietnamese</option>
                    <option value="Arabic">Arabic</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Russian">Russian</option>
                    <option value="Swahili">Swahili</option>
                    <option value="Hindi">Hindi</option>
                    <option value="German">German</option>
                    <option value="Korean">Korean</option>
                    <option value="Filipino">Filipino</option>
                    <option value="Portuguese">Portuguese</option>
                </select>
                   <button type="button" style="background-color: cornflowerblue;border: none;border-radius: 8px;color: white;padding: 10px 12px;"id="myBtn">Go!</button>
            </form>
        </div>
    </div>

    <div id="chat" style="position:absolute; left:35%;bottom:20%; margin:auto; width:30%;z-index:-100">
        <ul id="messages"></ul>
        <form id="form2" action="">
          <input id="m" autocomplete="off" /><button id ="b">Send</button>
        </form>
        <div>
            <button id="newtopic">Next Topic</button>
            <button id="transcend">Translate & Send</button>
        </div>
    </div>

    </div>


</body>
</html>