<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Yuasodihasdadh</title>
</head>
<body>

  hello world

  Lingua
<h1>
    Please enter your information:
</h1>
<form>
    <input name="name" placeholder="Name" type="text">
    <select name="Language">
        <option disabled selected value="">Language</option>
        <option value="English">English</option>
        <option value="French">French</option>
        <option value="Spanish">Spanish</option>
    </select>
</form>

</body>
</html>