{% extends "layout.html" %}

{% block body %}
    <h1>Lingua</h1>
    <h4>slogan here</h4>
    <form action="/new_user">
        <label for="name">What is your name?</label><br>
        <input type="text" name="name" id="name"><br><br>

        <label for="lang">What language do you speak?</label><br>
        <select name="language" id="lang">
            {% for lang in languages %}
                <option value="{{ lang }}">{{ lang }}</option><br>
            {% endfor %}
        </select>
        <br><br>
        <u>(Optional) Select topics to talk about:</u><br>
            {% for topic in topics %}
                <input type="checkbox" id="{{ topic }}" name="{{ topic }}" value="{{ topic }}">
                <label for="{{ topic }}">{{ topic }}</label><br>
            {% endfor %}
        <br><br>
        <input type="submit" value="Get Started" onsubmit="checkValidity()">
    </form>
    <script type="text/javascript">
        function checkValidity() {
            var nameInput = document.getElementById("name").value;
            var langInput = document.getElementById("lang").value;
            if (nameInput.length === 0 || !langInput) {
                alert("You haven't filled out the name and language!");
            }
        }
    </script>
{% endblock %}