* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 13px Helvetica, Arial;
}
h1 {
    padding-top: 5px;
    text-align: center;
    font: 50px Helvetica, Arial;
    font-stretch: condensed;
}
#slogan {
    text-align: center;
    padding-bottom: 12px;
    font: 18px Helvetica, Arial;
    font-style: italic;
    font-stretch: condensed;
    font-weight: 200;
    color: rgb(125, 125, 125);
}
h2 {
    text-align: center;
    color: darkslateblue;
    font: 18px Georgia, serif;
    font-style: italic;
    padding-bottom: 2px;
}
#form1 {
    text-align: center;
    box-sizing: border-box;
    padding: 12px 15px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0,0, 0.1);
    word-spacing: 5px;
    min-width: 500px;
    position: relative;
}
#name {
    padding: 10px 12px;
    border-width: 0.5px;
    border-radius: 8px;
}
#name:hover {
    background-color: whitesmoke;
}
::placeholder {
    font-stretch: condensed;
    letter-spacing: 1px;
    font-size: 15px;
}
select {
    padding: 8px 30px 8px 10px;
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: 1px;
    font-stretch: condensed;
}
select:hover {
    background-color: whitesmoke;
}
option {
    font: 15px Verdana;
}
#myBtn {
    background-color: cornflowerblue;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 12px;
    font-size: 15px;
    letter-spacing: 1px;
    font-stretch: condensed;
}
#myBtn:hover {
    background-color: mediumseagreen;
}
#awaiting {
    text-align: center;
    font-size: 28px;
    font-stretch: condensed;
    letter-spacing: 1px;
    padding: 10px 0;
}
#form2 {
    background: midnightblue;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
}
#m {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: 0.5%;
    border-radius: 5px;
}
#m:hover {
    background-color: whitesmoke;
}
#b {
    width: 9%;
    background: rgb(36, 158, 199);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font: 16px Helvetica, Arial;
    font-weight: bold;
    color: whitesmoke;
}
#b:hover {
    background-color: mediumaquamarine;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
}
#messages li {
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    font-stretch: condensed;
    padding: 5px 10px 5px 20px;
}
#messages li:nth-child(odd) {
    background: #eee;
}
